<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} - %-5p [%t:%C{1}@%L] - %X - %m%n"/>
    </Console>
  </appenders>
  <loggers>
    <logger name="org.apache.zookeeper" level="INFO" />
    <root level="INFO">
      <appender-ref ref="Console" level="ALL"/>
    </root>
  </loggers>
</configuration>